.up{background-color: grey; padding: 50px; text-align: center;color: white; }
.mid{background-color: lightblue; padding: 140px;}
.down{background-color: grey; padding: 50px; text-align: center;color: white;}